*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffdcec;
    padding: 8px;
}
span {
    text-transform: uppercase;
    font-weight: 550;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    color: #a18055;
}

header {
    background-color: #f3f2ec ;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px;
}

.nome span {
    color:#f3fca5;
    margin-top: 8px;
}

.nome img {
    width: 100%;
    height: 100px;
    object-fit: cover;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-weight: bold;
}

#apresentacao {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #f3f2ec;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 0px;
}
.texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.texto h2 {
    font-size: 55px;
    margin-bottom: 20px;
}
.texto p {
    font-size: 17px;
}

#apresentacao img {
    width: 400px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

#cardapio {
    padding-top: 10px;
}

#cardapio h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

#cardapio p {
    text-align: right;
    font-size: 18px;
    align-items: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards h2 {
    color: rgb(31, 27, 30);
    margin-top: 20px;
}

.bolostradicionais {
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 8px;
    

}

.bolosaniversario {
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 8px;    
}
.card {
    background-color: white;
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin-top: 10px;
}

.card p {
    margin-top: 10px;
    font-weight: 490;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
    background-color: #e63946;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#atividade {
    margin-top: 20px;
}

hr {
    padding: 20px;
    margin-top: 20px;
    background-color: #a48358;
    border: none;
}